/* -------------- ОБЩИЕ СВОЙСТВА -------------- */
*{
    font-family: 'Lato', sans-serif;
    color: #2C1B14;
}
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    color: #2C1B14;
}
body{
    background: #fffefd;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: inherit;
}
main {
    flex: 1;
}

/* -------------- ХЕДЕР -------------- */

header {
    background: #F2D4C5;
    height: 75px;
}
#logo {
    position: relative;
    height: 75px;
}
#logo img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    color: #2C1B14;
    padding: 22px;
}
header ul li a:hover {
    background: #b19588;
    text-decoration: underline;
    transition: 0.5s;
    color:#fff;
}
header ul li ul {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li {
    width: 100%;
}
header ul li ul li a {
    padding: 10px;
    background: #fffefd;
    color: #2C1B14;
}

.logout-btn {
    font-weight: 600;
    height: 50px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #2C1B14;
    border-radius: 15px;
}
.main-header {
    margin-top:30px;
}
.btn-success {
    background-color: #2C1B14;
    border-color:#2C1B14;
    color: #fffefd;
}

.btn-success:hover {
background-color: #6d5a52;
border-color:#6d5a52;
color: #fffefd;
}

.btn-warning {
    background-color: #6d5a52;
    color: #fffefd;
    border:none;
}

.btn-warning:hover {
    background-color: #b19588;
    border:none;
    color: #fffefd;
}



/* -------------- ФУТЕР -------------- */
.footer {
    background: #F2D4C5;
    color: #2C1B14;
    position: relative;
}
.footer .footer-section{
    padding: 22px;
}
.footer h4, .footer h3 {
    font-weight: 800;
    color: #2C1B14;
}
.footer .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .links ul {
list-style-type: none;
padding-left: 0;
}
.footer .links ul a {
    display: block;
    margin-bottom: 7px;
    font-size: 1em;
    transition: all .3s;
    color: #2C1B14;
    text-decoration: none;
}
.footer .links ul a:last-child {
    margin-bottom: 100px;
}
.footer .links ul a:hover {
    color: #6d5a52;
    margin-left: 15px;
    transition: all .3s;
}
.socials a {
    color: #2C1B14;
}
.socials a:hover {
    color:#6d5a52;
}
.contact a {
    font-size: 1.1em;
    color: #2C1B14;
    text-decoration: underline;
}
.contact a:hover {
    color:#6d5a52;
}
.footer-bottom {
    background: #b19588;
    color: #2C1B14;
    height: 65px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px;
}

/*
    SINGLE_POST
 */
.single_post{
    margin-bottom: 30px;
}
.single_post .info{
    margin: 20px 0;
}
.single_post .info i{
    display: inline-block;
    margin-right: 20px;
}
.single_post a{
    text-decoration: underline;
}
.single_post a:hover{
    text-decoration: none;
    color: #008489;
}
/*
FORMS
 */
.reg_form h2{
    text-align: center;
    margin: 30px 0;
}
.reg_form input{
    height: 3.3rem;
}
.reg_form a {
    font-size: 1.2em;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: underline;
    margin-left: 60px;
}

.reg_form a:hover {
    margin-left: 55px;
    transition: all .3s;
}

/*
SIDEBAR
 */

.sidebar{
    margin: 1rem 0;
    background: #6d5a52;
    min-height: 375px;
    max-height: 375px;
    border-radius: 20px;
}

.sidebar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #fffefd;
}

.sidebar ul a{
    color:#fffefd;
    padding: 18px;
    display: block;
    border-bottom: 1px solid #fffefd;
}


.sidebar ul a:hover{
    color: #b19588;
    text-decoration: underline;
}

.posts{
    height: 100%;
    padding: 40px 100px 100px;
}

.posts h2{
    text-align: center;
    margin: 2rem 0 0 0.4rem;
}

.posts .title-table div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #F2D4C5;
    font-weight: 700;
}

.posts .post div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #F2D4C5;
}
.post .red{
    font-weight: 600;
    color: #2C1B14;
}
.post .red:hover{
    color: #6d5a52;
}
.post .del{
    color: red;
}
.post .del:hover{
    color: rgb(160, 92, 92);
}
.post .status{
    color: #2C1B14;
}
.post .status:hover {
    color: #6d5a52;
}
.posts .post .id{
    font-weight: bold;
}
.add-post .err{
    padding: 1rem 0;
    color: #A52A2A;
}
.add-post .err ul{
    list-style-type: none;
    color: #A52A2A;
    padding-left: 10px;
    font-weight: 500;
}