/* -------------- ОБЩИЕ СВОЙСТВА -------------- */
*{
    font-family: 'Lato', sans-serif;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    color: #2C1B14;
}
body{
    background: #fffefd;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: inherit;
}
main {
    flex: 1;
}

/* -------------- ХЕДЕР -------------- */

header {
    background: #F2D4C5;
    height: 75px;
}

#logo {
    position: relative;
    height: 75px;
}

#logo img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li{
    float: left;
    position: relative;
}

#login {
    position: relative;
    height: 75px;
}

#login a {
    position: absolute;
    font-weight: 600;
    top: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
    padding: 10px 15px;
    border: 1px solid #b19588;
    border-radius: 15px;
}

header ul li a{
    font-family: "Playfair Display";
    font-weight: 600;
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #2C1B14;
    padding: 22px;
}

header ul li a:hover {
    background: #b19588;
    text-decoration: underline;
    transition: 0.5s;
    color:#fff;
}

header ul li ul {
    position: absolute;
    top: 86px;
    right: -122px;
    width: 180px;
    display: none;
    z-index: 111;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: #fffefd;
    color: #2C1B14;
}

.exit-button {
    right: -33px;
}

.admin-button {
    right: 88px;
    top: 50px;
    width: 250px;
}


/* -------------- ПОПУЛЯРНЫЕ ПУБЛИКАЦИИ -------------- */

 .slider-title {
    margin: 30px 0;
 }

 .carousel-inner {
    width:100%; 
 }

 .carousel-caption {
    top: 0;
    bottom: auto;
    color: white;
    background-color: #fffefd9c;
    border-radius: 0px 0px 20px 20px;
}

.carousel-caption h5 {
    font-weight: 600;
}

/* -------------- ПОСЛЕДНИЕ ПУБЛИКАЦИИ -------------- */
.main-content h2{
    margin: 30px 0;
}
.main-content .post{
    margin-bottom: 30px;
}
.main-content .post_text{
    background: #ffffff;
    padding: 8px;
    border-radius: 3px;
}
.main-content .post_text h3{
    margin: 14px 0;
}
.main-content .post_text h3 a:hover{
    text-decoration: underline;
    color: #6d5a52;
}
.main-content .post_text i{
    margin: 0px 14px 14px 0;
}

.main-content .author{
    margin: 0;
}

.page-link {
    border-color: #b19588;
    color:#6d5a52;
}

.page-link:hover {
    background: #b19588;
    transition: 0.5s;
    color:#fff;
}


/* -------------- ПОИСК/КАТЕГОРИИ -------------- */
.search{
    margin-top: 96px;
}
input{
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #F2D4C5;
    line-height: 1.5rem;
    font-size: 1rem;
}
.sidebar .section{
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.sidebar .topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sidebar .topics ul li a{
    display: block;
    padding: 15px 0px 15px 0px;
    border-top: 1px solid #F2D4C5;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #6d5a52;
    font-size: 1.2em;
}
.sidebar .topics ul li a:hover{
    padding-left: 10px;
    transition: all 0.3s;
}

/* -------------- ФУТЕР -------------- */
.footer {
    background: #F2D4C5;
    color: #2C1B14;
    position: relative;
}
.footer .footer-section{
    padding: 22px;
}
.footer h4, .footer h3 {
    font-weight: 800;
    color: #2C1B14;
}
.footer .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .links ul {
list-style-type: none;
padding-left: 0;
}
.footer .links ul a {
    display: block;
    margin-bottom: 7px;
    font-size: 1em;
    transition: all .3s;
    color: #2C1B14;
    text-decoration: none;
}
.footer .links ul a:last-child {
    margin-bottom: 100px;
}
.footer .links ul a:hover {
    color: #6d5a52;
    margin-left: 15px;
    transition: all .3s;
}
.socials a {
    color: #2C1B14;
}
.socials a:hover {
    color:#6d5a52;
}
.contact a {
    font-size: 1.1em;
    color: #2C1B14;
    text-decoration: underline;
}
.contact a:hover {
    color:#6d5a52;
}
.footer-bottom {
    background: #b19588;
    color: #2C1B14;
    height: 65px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px;
}

/*
    SINGLE_POST
 */
.single_post{
    margin-bottom: 30px;
}
.single_post .info{
    margin: 20px 0;
}
.single_post .info i{
    display: inline-block;
    margin-right: 20px;
}
.single_post a{
    text-decoration: underline;
}
.single_post a:hover{
    text-decoration: none;
    color: #008489;
}
/*
FORMS
 */
.reg_form h2{
    text-align: center;
    margin: 30px 0;
}
.reg_form input{
    height: 3.3rem;
}

.login-btn {
    border: none;
    background-color: #2C1B14;
}

.reg-link {
    color:#6d5a52;
    font-size: 1.2em;
    text-decoration: underline;
    margin-left: 60px;
}

.reg-link:hover {
    color:#b19588;
}

/*
COMMENTS
 */
.all-comments{
    padding-top: 3rem;
}
.all-comments h3{
    margin-bottom: 2rem;
}
.all-comments .one-comment{
    padding: 1rem;
    border: 1px solid #008484;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.all-comments .one-comment i{
    margin: 0.3rem 0.6rem 0 0;
    font-weight: 600;
}
.all-comments .one-comment span{
    display: inline-flex;
    margin: 0.5rem 1.5rem 1.5rem 0;
    font-weight: 500;
}